.idea
out
*.iml
log

storage/*

apache-tomcat-9.0.62/logs/*

apache-tomcat-9.0.62/webapps/*
!apache-tomcat-9.0.62/webapps/docs
!apache-tomcat-9.0.62/webapps/examples
!apache-tomcat-9.0.62/webapps/host-manager
!apache-tomcat-9.0.62/webapps/manager
!apache-tomcat-9.0.62/webapps/ROOT

apache-tomcat-9.0.62/work/Catalina/localhost/host-manager